/* Error: Undefined variable.
 *   ,
 * 6 |     @each $dors in variables.$diceandsymbols {
 *   |                    ^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   src/scss/_formatting.scss 6:20  formatting()
 *   src/scss/genesys.scss 7:1       root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 6 \2502      @each $dors in variables.$diceandsymbols {\a   \2502                     ^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   src/scss/_formatting.scss 6:20  formatting()\a   src/scss/genesys.scss 7:1       root stylesheet";
}
