@use './variables.scss';

@mixin formatting($game) {
    @each $dors in variables.$diceandsymbols {
        body a.tag.tag[href^="##{$game}#{$dors}"], 
        #{variables.$lp} .cm-tag-#{$game}#{$dors}:not(.cm-formatting) {
            /* Taken from original CSS */
            display: inline-flex;
            align-self: center;
            top: .175em;
            position: relative;
            height: 1em;
            width: 1em; /* was 1em, but I think auto will work */
            border: 0;
            /* Added to try and deal with themes */
            background-color: transparent;
            font-size: var(--editor-font-size);
            padding: 0px;
            border-radius: 0;
            vertical-align: baseline;
        }
        #{variables.$lp} .cm-formatting.cm-tag#{$game}#{$dors} {
            display: none;
        }
    }
}
@mixin darkthemefixes($game) {
    @each $symbol in variables.$symbols {
        .theme-dark:not(.do-not-invert-symbols-#{$game}) {
            a.tag.tag[href^="##{$game}#{$symbol}"],
            .is-live-preview .cm-line:not(.cm-active) .cm-tag-#{$game}#{$symbol}:not(.cm-formatting) {
                filter: invert(1);
            }
        }
    }
}
 
// _dice.scss
@mixin dice-tag-base {
  display: inline-flex;
  align-self: center;
  position: relative;
  top: 0.175em;

  height: 1em;
  width: auto;

  border: 0;
  padding: 0;
  border-radius: 0;
  background-color: transparent;

  font-size: var(--editor-font-size);
  vertical-align: baseline;
}

// _dice.scss
@mixin dice-tag($name, $svg) {
  body a.tag.tag[href^="##{$name}"],
  .is-live-preview .cm-line:not(.cm-active) .cm-tag-#{$name}:not(.cm-formatting) {
    @include dice-tag-base;
    content: url(#{$svg});
  }

  .is-live-preview .cm-line:not(.cm-active) .cm-formatting.cm-tag#{$name} {
    display: none;
  }
}
