// _system.scss
@use "./dice" as dice;

/* --------------------------------------------------------------------------
   Render a complete dice system
   -------------------------------------------------------------------------- */
@mixin dice-system($prefix, $symbols) {
  /* Dice & symbol tag rendering */
  @each $name, $svg in $symbols {
    @include dice.dice-tag($prefix + $name, $svg);
  }

  /* Dark theme inversion for light-colored symbols */
  @include dice.dice-dark-invert(
    $prefix + Advantage,
    2 + $prefix + Advantage,
    3 + $prefix + Advantage,
    4 + $prefix + Advantage,
    5 + $prefix + Advantage,
    $prefix + Despair,
    $prefix + 2Despair,
    $prefix + 3Despair,
    $prefix + 4Despair,
    $prefix + 5Despair,
    $prefix + Failure,
    $prefix + 2Failure,
    $prefix + 3Failure,
    $prefix + 4Failure,
    $prefix + 5Failure,
    $prefix + Success,
    $prefix + 2Success,
    $prefix + 3Success,
    $prefix + 4Success,
    $prefix + 5Success,
    $prefix + Threat,
    $prefix + 2Threat,
    $prefix + 3Threat,
    $prefix + 4Threat,
    $prefix + 5Threat,
    $prefix + Triumph,
    $prefix + 2Triumph,
    $prefix + 3Triumph,
    $prefix + 4Triumph,
    $prefix + 5Triumph,
  );
}
