/* ==========================================================================
   Genesys Dice & Symbols — Entry Point
   ========================================================================== */
@use "./assets" as assets;
@use "./system" as system;

/* @settings
name: Genesys Dice CSS Snippet
id: craftidore-genesys-dice-snippet
settings:
    -
        id: do-not-invert-symbols-Genesys
        title: "Don't Invert Symbols"
        description: Don't invert the color of the symbols while in dark theme.
        type: class-toggle
        default: false
*/

@include system.dice-system(
  "Genesys",
  assets.$genesys-symbols
);

