/* ==========================================================================
   Star Wars Dice & Symbols — Entry Point
   ========================================================================== */
/* Dice system */
@use "./assets" as assets;
@use "./dice" as dice;

/* Style Settings comment for use with the Style Settings Community Plugin */
/* @settings
name: StarWars Dice CSS Snippet
id: craftidore-star-wars-dice-snippet
settings:
    - 
        id: do-not-invert-symbols-StarWars
        title: "Don't Invert Symbols"
		description: Don't invert the color of the symbols while in dark theme. 
        type: class-toggle
		default: false
*/
$game: "StarWars"; 
$symbols: assets.$starwars-symbols;

/* --------------------------------------------------------------------------
   Dice & symbol tag rendering
   -------------------------------------------------------------------------- */
@each $name, $svg in $symbols {
  @include dice.dice-tag($game+$name, $svg);
}

/* --------------------------------------------------------------------------
   Dark theme inversion for light-colored symbols
   -------------------------------------------------------------------------- */

@include dice.dice-dark-invert(
  $game+Advantage,
  $game+Despair,
  $game+Failure,
  $game+Success,
  $game+Threat,
  $game+Triumph
);
