/* ==========================================================================
   Star Wars Dice & Symbols — Entry Point
   ========================================================================== */
@use "./assets" as assets;
@use "./system" as system;

/* @settings
name: StarWars Dice CSS Snippet
id: craftidore-star-wars-dice-snippet
settings:
    -
        id: do-not-invert-symbols-StarWars
        title: "Don't Invert Symbols"
        description: Don't invert the color of the symbols while in dark theme.
        type: class-toggle
        default: false
*/

@include system.dice-system(
  "StarWars",
  assets.$starwars-symbols
);
